/*---------------------------------
    Image routes
  ---------------------------------*/
$image_dir: '../images/';
$icons_image_dir: '../images/icons/';
$pictures_image_dir: '../images/pictures/';
/*---------------------------------
    Colors
  ---------------------------------*/
$color-accent1:#6caf41;
$color-accent2:#318503;
$color-accent3:#edff72;
$color-accent4:#fff03a;
$color-accent5:#ffe10a;
$color-accent6:#fd904c;
$color-accent7:#fb6d1f;
$color-accent8:#fb2207;
$color-accent9:#d41e06;
$color-accent10:#98005d;
$color-accent11:#8e4cc6;

$color-white:#fff;

$color-light-gray1:#bfbfbf;
$color-light-gray2:#d1d1d1;
$color-light-gray3:#f8f8f8;
$color-light-gray4:#b6b6b6;
$color-light-gray5:#e5e5e5;

$color-copy-gray1:#505050;
$color-copy-gray2:#d4d4d4;
$color-copy-gray3:#afafaf;
$color-copy-gray4:#818181;

$color-green1:#5aa23b;
$color-green2:#82be63;
$color-green3:#a4bf55;
$color-green4:#4b942d;
$color-green5:#519637;

$color-light-green:#a9d992;
$color-light-green2:#a3d68a;
$color-light-green3:#71b450;
$color-light-green4:#eff9e7;

$color-light-blue:#72b5ce;
$color-yellow:#fae005;

$color-black:#000;
$color-light-black:#444444;

/*---------------------------------
    Fonts
  ---------------------------------*/

$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$font-gothamproreg:"GothamProRegular", sans-serif;
$font-gothampromed:"GothamProMedium", sans-serif;
$font-gothamprobold:"GothamProBold", sans-serif;
$font-ptsans:"PT Sans", sans-serif;



//font sizes (at least the common ones)
$font-size-xsmall:10px;
$font-size-small:12px;
$font-size-normal:14px;
$font-size-slarge:16px;
$font-size-large: 18px;
$font-size-xlarge: 24px;
$font-size-huge:36px;

/*---------------------------------
    Bootstrap variables
  ---------------------------------*/
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg: 1180px !default;




