@import "_variables";

//base styles
html{
  height: 100%;
}
body {
  height: 100%;
  background-color: $color-white;
  font-family: $font-ptsans;
  font-size: $font-size-normal;
  color: $color-black;
  padding-top: 96px;
}

h1 {
  font-family: $font-gothamprobold;
  font-weight: normal;
  font-size: $font-size-huge;
}

h2 {
  font-family: $font-gothamprobold;
  font-weight: normal;
  font-size: $font-size-xlarge;
  padding: 10px 0;
  color: $color-green4;
}

h4 {
  font-family: $font-gothamprobold;
  font-weight: normal;
  font-size: $font-size-large;
  padding: 10px 0;
}

h5 {
  font-family: $font-gothamprobold;
  font-weight: normal;
  font-size: $font-size-normal;
  color: $color-green4;
}

a:focus{
  outline: none;
}

.main-container{
  max-width: 1200px;
  background-color: $color-white;
  min-height: 100%;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.btn {
  border-radius: 0;
  border-width: 1px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: $font-size-small;
}

.btn-default{
  background-color: $color-green5;
  border-color: $color-green5;
  color: $color-white;
  font-family: $font-gothamprobold;
  padding: 6px 10px;
  &:hover,
  &:focus,
  &.focus{
    background-color: $color-green1;
    border-color: $color-green1;
    color: $color-white;
  }
}

.btn-primary{
  background-color: $color-light-green4;
  border-color: $color-light-green;
  color: $color-green4;
  font-family: $font-gothamprobold;
  padding: 6px 10px;
  &:hover,
  &:focus,
  &.focus{
    background-color: $color-white;
    border-color: $color-light-green;
    color: $color-green4;
  }
  .arrow-right{
    background: $color-light-green3;
  }
  .arrow-right:after{
    border-color: rgba(113, 180, 80, 0);
    border-left-color: $color-light-green3;
  }
}

.btn-info{
  background-color: $color-black;
  border-color: $color-black;
  color: $color-white;
  font-family: $font-gothamprobold;
  padding: 4px 18px;
  &:hover,
  &:focus,
  &.focus{
    background-color: $color-light-black;
    border-color: $color-light-black;
    color: $color-white;
  }
}

.modal-title {
  font-size: $font-size-huge;
  //font-family: $font-montserrat;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}

.form-control {
  box-shadow: none;
}

.modal-header .close {
  margin-top: -20px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  background: transparent;
  border-color: transparent;
}

