@import "_variables";

//base styles
html{
  height: 100%;
}
body {
  height: 100%;
  background-color: $color-white;
  background: linear-gradient(to bottom,  #61a447 0px, #ffffff 626px) no-repeat; /* W3C */

  font-family: $font-ptsans;
  font-size: $font-size-normal;
  color: $color-black;
}

h1 {
  font-family: $font-gothamprobold;
  font-weight: normal;
  font-size: $font-size-huge;
}

h2 {
  font-family: $font-gothamprobold;
  font-weight: normal;
  font-size: $font-size-xlarge;
  padding: 10px 0;
}

h4 {
  font-family: $font-gothamprobold;
  font-weight: normal;
  font-size: $font-size-large;
  padding: 10px 0;
}

h5 {
  font-family: $font-gothamprobold;
  font-weight: normal;
  font-size: $font-size-normal;
  padding: 10px 0;
}

.main-container{
  max-width: 1200px;
  background-color: $color-white;
  min-height: 100%;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.btn {
  border-width: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: $font-size-small;
}

//.btn-primary {
//  font-size: $font-size-large;
//  font-family: $font-montserrat;
//  padding: 10px 20px;
//}

.modal-title {
  font-size: $font-size-huge;
  //font-family: $font-montserrat;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}

.form-control {
  box-shadow: none;
}

.modal-header .close {
  margin-top: -20px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  background: transparent;
  border-color: transparent;
}

